body {
  background-color: #e5e5fd;
  margin: 0px;
  border: 0px;
}
.top-section{
  display: flex;
}
img{
  position: relative;
  left: 100%;
  top: 10%;
  align-items: center;
  padding-left: 5%;
  border-radius: 80%;
}
.Names {
  font-size: large;
  position: relative;
  left:18%;
  top: 250px;
}
.Names h4{
  position: relative;
  bottom: 10%;
  font-size: 120%;
  text-align: right;
}

.container {
  border: 10px solid rgb(4, 4, 37);
}
.last-section{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  line-height: 30px;
  word-spacing : 1px;
  padding : 20px ;
}

.middle-section{
  padding: 10px;
}
.middle-section h2{
  font-size: 40px;  
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2px;
}
p{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  line-height: 30px;
  word-spacing: 10%;  
  letter-spacing: 0.60px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}